<div class="dialog-wrapper" [ngClass]="data.type || 'info'">
  <h2 mat-dialog-title class="dialog-header">
    <mat-icon [ngClass]="data.type" class="header-icon">
      {{ data.icon || 'info' }}
    </mat-icon>
    <span class="title-text">{{ data.title }}</span>
  </h2>

  <mat-dialog-content class="dialog-body">
    <p [innerHTML]="data.message"></p>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="dialog-footer">
    <button 
      mat-stroked-button 
      (click)="cancelar()" 
      *ngIf="data.cancelText"
      class="btn-cancel">
      {{ data.cancelText }}
    </button>

    <button 
      mat-flat-button 
      [color]="data.color || 'primary'" 
      (click)="confirmar()"
      class="btn-confirm">
      {{ data.confirmText || 'Aceptar' }}
    </button>
  </mat-dialog-actions>
</div>