<h2 mat-dialog-title>Reordenar Ruta</h2>

<mat-dialog-content>
  <p>
    Mover a <span class="cliente-highlight">{{ data.nombre }}</span> a la posición:
  </p>
  
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Nueva Posición</mat-label>
    <input 
      matInput 
      type="number" 
      [(ngModel)]="nuevaPosicion" 
      min="1" 
      placeholder="Ej. 1">
    <mat-icon matSuffix color="primary">swap_vert</mat-icon>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancelar()" color="warn">
    CANCELAR
  </button>
  <button 
    mat-flat-button 
    color="primary" 
    [mat-dialog-close]="nuevaPosicion" 
    [disabled]="!nuevaPosicion">
    CONFIRMAR
  </button>
</mat-dialog-actions>